.layout {
    background-color: white;
}

.layout-dark {
    background-color: #333;
    color: white;
}
.layout-dark blockquote {
    color: white;
    border-color: violet;
}

.layout-dark a {
    background-image: linear-gradient(to top,#f03b95,#333 100%,#0000 100%,#0000);
    color: #429aff;
}

.layout-dark a:hover {
    color: white;
}

.layout-wrapper {
    margin-left: auto;
    margin-right: auto;
}