/* .home-header {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    transition: background-color .5s;
} */

/* .layout-dark .home-header {
    background-color: #333;
}


.layout-dark .home-header .home-header-link {
    color: white;
} */

/* .layout-dark .blog-header {
    background-color: #333;
} */

/* .blog-header-link {
    box-shadow: none;
    text-decoration: none;
} */